.projects
    max-width: 1200px
    margin: 0 auto
    padding: 4rem 0
    h2
        font-size: 28px
    img
        height: 250px
        width: 100%
        object-fit: contain
        border-right: 1px solid lightgrey
        padding-right: 1rem
    a
        font-size: 26px
        font-weight: 600
        text-decoration: none
        color: #ffffff
    a:hover
        background-color: #696563c7
    .text
        font-size: 18px
        line-height: 24px
        margin: 1rem 0
    p
        font-size: 18px
        line-height: 24px

    &__project a
        margin: 2rem 0
        display: grid
        grid-template-columns: 250px 1fr
        gap: 1rem
        padding: 1rem
        background-color: #5e5a59d3
        border-radius: 10px
        box-shadow: 0px 0px 11px -1px rgba(0,0,0,1)
        border-bottom: 2px solid #09F644

    &__project-description
        padding: .5rem 0