.introduction
    max-width: 1200px
    margin: 0 auto
    padding: 4rem 0
    
    h2
        font-size: 28px
    
    &__text
        display: flex
        gap: 4rem
        p
            margin: .5rem 0
            font-size: 18px
            line-height: 24px
            font-weight: 600
    &__image
        height: 350px
        object-fit: contain


@media screen and (max-width: 1250px)
    .introduction
        padding: 4rem
        &__image
            height: 300px


@media screen and (max-width: 768px)
    .introduction
        padding: 2rem
        h2
            text-align: center
        &__text
            flex-direction: column-reverse
            gap: 1rem