.header
    position: sticky
    top: 0
    width: 100%
    padding: 2.5rem 0
    background-color: #1b1b1b
    border-bottom: 2px solid #09F644
    z-index: 1000

    h1
        font-size: 32px
    p
        font-size: 22px
        line-height: 24px
    
    &__nav
        display: flex
        justify-content: space-between
        max-width: 1200px
        margin: 0 auto
        ul
            list-style-type: none
            display: flex
            gap: 2rem
            li
                display: flex
                align-items: center
                gap: .5rem
                a
                    text-decoration: none
                    color: #ffffff
                    opacity: .9
                    font-size: 22px
                a:hover
                    opacity: 1
                    text-decoration: underline

    &__links-icon
        height: 30px
        width: 30px



@media screen and (max-width: 1250px)
    .header
        padding: 1.5rem 4rem
        h1
            font-size: 28px
        p
            font-size: 20px
            line-height: 22px
        
        &__nav
            ul
                gap: 1rem
                li
                    a
                        font-size: 18px



@media screen and (max-width: 768px)
    .header
        padding: 1rem 2rem
        h1
            font-size: 24px
        p
            font-size: 18px
            line-height: 20px
        
        &__nav
            gap: 4rem
            ul
                flex-direction: column
                li
                    a
                        font-size: 16px